#video {
    width: 90vw;
    height: 90vh;
}

body {
    background-color: rgb(0,0,0);
    text-align: center;
}

#textito {
    color: rgb(174, 174, 174);
    font-family: "8bit";
    white-space: pre-wrap;
}

@font-face {
    font-family: "8bit";
    src: url(FreePixel.ttf);
}

@media screen and (orientation: landscape) {
    /* Acostado */
    /******************************************************************/
    #textito {
        margin: 0 10vh 0 10vh;
        font-size: 1.2rem;
    }
}
@media screen and (orientation: portrait) {
    /* Celu */
    /******************************************************************/
    #textito {
        margin: 0 5vh 0 5vh;
        font-size: 1.4rem;
    }
}

:root {
    font-size: calc(1.2vw + 1vh);
}